# Mode (1 = random environment mode (default), 2 = create custom environment, 3 = loaded image mode)
    mode=1
########### General Settings ###########
# Environment dimensions 100 by default
    ncols=500
    nrows=500
#initial position
    initialFrontline={50, 50, 450, 450}
#destination
    target_x=165
    target_y=180
########### Settings relevant to random environment mode ###########
# Number of obstacles 10 by default
    nb_of_obstacles=20
# Obstacle dimensions 10 20 10 20 by default
    minWidth=40
    maxWidth=80
    minHeight=40
    maxHeight=80
# Seed randomness (updates at 1/sec)
    randomSeed=0
# Can fix seed value instead (only if randomSeed=0)
    seedValue=178943596
########### Settings relevant to make custom environment ###########
# x and y ranges of squares you want to fill
    objectList={100,175,-1,150,130,200,75,200,50,120,250,390,100,200,320,370,180,205,240,265,100,160,450,470,310,380,425,499,206,246,330,350,254,320,200,360,290,350,190,280,245,265,120,160,380,310,50,80,310,380,50,130,400,450,390,410,390,440,175,320,440,500,175,250,440,470,60,120}
########### Settings relevant to import image mode ###########
# image full path
imagePath=images/maze_2.png

########### Solver settings ###########
# Solver timer
    timer=0
# Number of heap iterations
    max_nb_of_iterations=1000000
# Enable faster origin Solver
    originSolver=0
# Control evolution of march 
    marchControl=1
    
########### Output settings ###########
# debug prints
    debugCardinalSearch=0
    debugPivotSearch=0

# Disable displaying loaded settings
    silent=0

# save visibility based solution as an image 
    saveVisibilityBasedSolverImage=1
# image settings
    contourLines=1
    number_of_contour_lines=50
    colorPivots=0
    pivotColorGridSize=11
    colorBoundaries=0
    colorCameFrom=0

# save text files of results master key, if 0, all are zero too 
    saveResults=1
# storable results:
    saveOccupancyField=1
    savegScore=1
    savePivots=1
    saveCameFrom=1

########### benchmark settings #########
# compute VBD
    vbd=1
# compute VBM
    vbm=1
# settings VBM    
    speedValue=5.0
    visibilityThreshold=0.5
    saveVisibilityField=0
    saveSpeedField=0
    ballRadius=5