# Mode (1 = random environment mode (default), 2 = create custom environment, 3 = loaded image mode)
    mode=1
########### General Settings ###########
# Environment dimensions 100 by default
    ncols=320
    nrows=320
#initial position
    pos_x=20
    pos_y=300
########### Settings relevant to random environment mode ###########
# Number of obstacles 10 by default
    nb_of_obstacles=10
# Obstacle dimensions 10 20 10 20 by default
    minWidth=50
    maxWidth=50
    minHeight=50
    maxHeight=50
# Seed randomness (updates at 1/sec)
    randomSeed=1
# Can fix seed value instead (only if randomSeed=0)
    seedValue=-2096105192
########### Settings relevant to make custom environment ###########
# x and y ranges of squares you want to fill
    objectList={150,160,250,300,170,180,250,300,190,200,250,300,210,220,250,300}
########### Settings relevant to import image mode ###########
# image full path
imagePath=/path/to/image.png

########### Solver settings ###########
# Solver timer
    timer=1
# Number of heap iterations
    max_nb_of_iterations=100000
# Control evolution of march 
    marchControl=0
    
########### Output settings ###########
# debug prints
    debugCardinalSearch=0
    debugPivotSearch=1

# Disable displaying loaded settings
    silent=0

# save visibility based solution as an image 
    saveVisibilityBasedSolverImage=1
# image settings
    contourLines=1
    number_of_contour_lines=50
    colorPivots=0
    pivotColorGridSize=11
    colorBoundaries=0
    colorCameFrom=0

# save text files of results master key, if 0, all are zero too 
    saveResults=0
# storable results:
    saveEnvironment=0
    savegScore=0
    savePivots=0
    saveCameFrom=0


