# Mode (1 = random environment mode (default), 2 = create custom environment, 3 = loaded image mode)
    mode=1
########### General Settings ###########
# Environment dimensions 100 by default
    ncols=500
    nrows=500
#initial position
    pos_x=10
    pos_y=10
#target position
    target_x=480
    target_y=480
########### Settings relevant to random environment mode ###########
# Number of obstacles 10 by default
    nb_of_obstacles=20
# Obstacle dimensions 10 20 10 20 by default
    minWidth=40
    maxWidth=80
    minHeight=40
    maxHeight=80
# Seed randomness (updates at 1/sec)
    randomSeed=0
# Can fix seed value instead (only if randomSeed=0)
#    seedValue=1186252920
    seedValue=-1514966640
########### Settings relevant to make custom environment ###########
# x and y ranges of squares you want to fill
#    objectList={70,230,268,270,70,72,110,268,170,210,120,160}
#    objectList={50,170,210,250,130,170,170,210,140,180,100,140}
#    objectList={80,140,160,240,220,260,140,180}
#    objectList={0,30,138,140}
#    objectList={0,30,138,140,20,150,200,250}
    objectList={70,125,255,305,119,165,260,310}
########### Settings relevant to import image mode ###########
# image full path
imagePath=images/maze_2.png

########### Solver settings ###########
# Solver timer
    timer=1
# Number of heap iterations
    max_nb_of_iterations=500000
# Control evolution of march 
    marchControl=0
    
########### Output settings ###########
# debug prints
    debugCardinalSearch=0
    debugPivotSearch=1

# Disable displaying loaded settings
    silent=0

# save visibility based solution as an image 
    saveVisibilityBasedSolverImage=1
# image settings
    contourLines=1
    number_of_contour_lines=50
    colorPivots=0
    pivotColorGridSize=11
    colorBoundaries=0
    colorCameFrom=0

# save text files of results master key, if 0, all are zero too 
    saveResults=1
# storable results:
    saveOccupancyField=1
    savegScore=1
    savePivots=1
    saveCameFrom=1

########### benchmark settings ###########
# compute MSFM
    msfm=0
# compute VBM
    vbm=1
# settings VBM    
    speedValue=5.0
    visibilityThreshold=0.5
    saveVisibilityField=0
    saveSpeedField=0
    ballRadius=5